/*Text*/
h1, h2, h3, h4, h5, h6{
    color: white;
}

p{
    color: white;
}

a{
    color: white;
}

.name{
    font-size: 1.7rem;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}

.job-title{
    font-size: 1.1rem;
}

@media (max-width: 576px) {
  .container {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    max-width: 100% !important;
  }

  .d-grid {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
}

/*Whole Background*/
body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
	
	background-image: url('../background.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.glass {
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);

  border-radius: 16px;
  border: 2px solid rgba(255, 255, 255, 0.5);

  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.25);

  padding: 24px;
  
  position: relative;
  overflow: hidden;
}

.card {
    background-color: rgb(49, 48, 48);
    border: 2px solid white;
}

.card-body {
    font-weight: regular;
}

.side-color{
    background: #334f30;
}

.double-container{
    height: 99vh;
}

/*Profile picture*/
.profile-pic{
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 100%;
    max-width: 120px;
}

.big-profile-pic{
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 100%;
    width: 40vh;
}

/*Contact information*/
.contact-container > span{
    font-size: small;
    margin-bottom: 15px;
}

/*Quick icon link*/
.quick-link-container{
    margin-bottom: 15px;
}

/*Buttons*/
.btn {
    position: relative;
    padding: 1.2rem 1.5rem;
    padding-left: 3rem;
    border: 2px solid rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
    font-weight: regular;
    text-transform: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn:hover{
    transform: scale(1.05);
	background: rgba(255, 255, 255, 0.3);
	border: 2px solid rgba(255, 255, 255, 0.5);
}

.btn:focus, 
.btn:active{
    background: rgba(255, 255, 255, 0.3);
	border: 2px solid rgba(255, 255, 255, 0.5);
}

.a{
    position: relative;
}

.btn-r10{
    border-radius: 10px;
}

/*Icon inside the button*/
.btn-icon > i{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.2rem;
}

i{
    font-size: large;
}

/*Section title*/
.section-title > h5{
    font-size: 16px;
}

.section-title{
    margin-top: 25px;
}

/*Footer*/
.footer{
    margin-top: 15px;
    background: #011c36 !important;
}

.spacer{
    height: 80px;
}